* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #cc0000;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

.text{
  float: right;
}

.btn-primary{
  color: #fff;
  background-color: #a90000;
  border-color: #a90000;
}
.btn-primary:hover {
  background-color: burlywood;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-color: #ebebeb;
}


.wrap-login100 {
  padding: 70px;
  width: 1060px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.col-md-auto{
    float: right;
}
.btn-success{
    background-color: #a90000;
}
.btn-success:hover{
    background-color: #a90000;
    opacity: 0.5;   
}
.col-sm-6{
    padding-bottom: 60px;
}
.col-sm-6 label{
    font-size: large;
}
.row{
    padding: 10px;
}
h3{
    margin: 45px 0 45px 0;
}
/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: 'Poppins', sans-serif;
  font-size: 37px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 48px;
  width: 100%;
  display: block;
}
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}