.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px rgb(168, 74, 74), 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
  /* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
   
   
.col-md-auto{
    margin-left: 18px;
}
.btn-success{
    background-color: #a90000;
}
.btn-success:hover{
    background-color: #a90000;
    opacity: 0.5;   
}
.col-md-6{
    margin-right: 192px;
}
.row{
    margin-bottom: 54px;
}
.justify-content-center{
    margin-left: 2px;   
}
.justify-content-center a,.list-group a{
    color:#a90000 ;
}
.media-body{
    margin-top: 15px;
}
.media-body a{
    text-decoration: none;
    color:#a90000;
}
/*---------------------------------------------------------------------------------*/
.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
    background-color: #ebebeb;
  }
  
  
  .wrap-login100 {
    padding: 70px;
    width: 1060px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }
  
  
  /*==================================================================
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 48px;
    width: 100%;
    display: block;
  }
  /*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }