<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Up Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <span class="login100-form-title p-b-32">
                    Sign Up
                </span>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
				<form class="login100-form validate-form flex-sb flex-w"  method="POST" action="/create_user">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-3 col-form-label">First name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="first_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-sm-3 col-form-label">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="last_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="conf_password" class="col-sm-3 col-form-label">Confirm password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="conf_password">
                        </div>
                    </div>
					
					<div class="text">
						<div>
							<a href="/reg_login" class="txt3">
								Already have an account?-Login
							</a>
						</div>
					</div>

					<div class="button">
						<button  type="submit" class="btn btn-primary"">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>